src/main/mule/mavendeploy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4a5edf05-03e6-4e53-9ff4-06fef249dce7" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<flow name="mavendeployFlow" doc:id="bf105e7a-4b8e-40a4-84b7-986a4f1cd089" >
		<http:listener doc:name="Listener" doc:id="04460b6e-352d-4fad-85eb-715eb45c1bc4" config-ref="HTTP_Listener_config" path="/mavendeploy"/>
		<logger level="INFO" doc:name="Logger" doc:id="2ad6e591-3673-4b6c-a2ff-20cc4a8e6b25" message="#[attributes] and (((((((((((((((((((((((((((((((((((((((((((((((((((((((("/>
	</flow>
</mule>
